body {
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body p {
    font-size: 0.8em;
    line-height: 1.28;
}

#wrapper {
    width: 1080px;
    background-color: white;
    margin: 0 auto;
    padding: 14px;
    border: 3px solid #dedede;
}

#banner {
    background-image: url('../images/Admin2.jpg');
    background-size: cover;
    border: 2px solid #dedede;
    height: 150px;
}

#navigation {
    height: 60px;
    border: 2px solid #e3e3e3;
    margin-top: 20px;
}

#nav {
    list-style: none;
    z-index: 1030;
}

#nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li {
    float: left;
    width: 150px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    margin-right: 2px;
}

ul li a {
    text-decoration: none;
    display: block;
}

ul li ul li {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

ul li:hover ul li {
    display: block;
}

ul li ul li a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#nav ul li:hover ul li {
    display: block;
}

#nav a:link,
nav a:active,
nav a:visited {
    display: block;
    color: black;
    text-decoration: none;
}

#nav a:hover {
    color: rgb(119, 91, 245);
}


/* CSS Grid */

#container {
    display: grid;
    gap: 25px;
    margin: 50px;
}

#grid-container {
    display: grid;
    min-height: 350px;
    grid-gap: 25px;
    grid-template-areas: 'grid1 grid2 grid3';
    box-shadow: var(--shadow);
    align-items: center;
    justify-items: center;
    padding: 8px 25px;
}

.grid1 {
    grid-area: grid1;
}

.grid2 {
    grid-area: grid2;
}

.grid3 {
    grid-area: grid3;
}

.btn {
    background-color: rgba(46, 147, 230, 0.63);
    text-decoration: none;
    border: 0;
    border-radius: 20px;
    color: #000;
    padding: 16px;
}

.btn:hover {
    background-color: rgb(130, 207, 221);
}

.special .btn {
    text-align: center;
    margin-left: 50px;
    font-size: 16px;
}

.special img {
    border: 5px solid honeydew;
    border-radius: 140px;
    margin-bottom: 20px;
}


/* Footer */

.move_right {
    float: right;
    margin: 0px, 0px, 0px, 0px;
}

.top {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.center {
    display: inline-block;
    width: auto;
    text-align: center;
}

#footer {
    width: 98%;
    height: 40px;
    padding: 10px;
    border: 3px solid #e3e3e3;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    background-color: #175a7c;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

#foot {
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    border: none;
    color: #fff;
    padding: 10px 13px;
    margin: 11px;
}

#foot:hover {
    text-decoration-line: underline;
}